<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
        
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<form action="/employees/edit/<%= emp_no %>" method="post" name="form1">
    <table width="25%" border="0">
		<tr> 
            <td>Last Name</td>
            <td><input type="text" name="last_name" id="last_name" value="<%= last_name %>" /></td>
        </tr>
        <tr> 
            <td>First Name</td>
            <td><input type="text" name="first_name" id="first_name" value="<%= first_name %>" /></td>
        </tr>
        <tr> 
            <td>Gender</td>
            <td><input type="text" name="gender" id="gender" value="<%= gender %>" /></td>
        </tr>
		<tr> 
            <td>Date of Birth</td>
            <td><input type="date" name="birth_date" id="birth_date" value="<%= birth_date.toISOString().substr(0, 10) %>" /></td>
        </tr>
		<tr> 
            <td>Hire Date</td>
            <td><input type="date" name="hire_date" id="hire_date" value="<%= hire_date.toISOString().substr(0, 10) %>" /></td>
        </tr>
		
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Edit" /></td>
        </tr>
    </table>
    <input type="hidden" name="_method" value="PUT" />
</form>
 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>